In [1]:
import numpy as np
import pandas as pd

In [9]:
d = pd.read_csv("https://bit.ly/ds-korean-idol")

In [11]:
d['성별2'] = (d['성별'] != "남자").astype(int)
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별2
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260    0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947    0
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745    0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501    0
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928    1
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335    0
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792    0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615    1
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308    0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489    0
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661    1
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027    0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654    0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137    0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442    0

In [18]:
d.loc[d['성별'] == '남자', '성별3'] = 0
d.loc[d['성별'] == '여자', '성별3'] = 1
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별2  성별3
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260    0  0.0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947    0  0.0
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745    0  0.0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501    0  0.0
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928    1  1.0
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335    0  0.0
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792    0  0.0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615    1  1.0
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308    0  0.0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489    0  0.0
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661    1  1.0
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027    0  0.0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654    0  0.0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137    0  0.0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442    0  0.0

In [21]:
def male_or_female(x):
    if x == '남자':
        return 0
    return 1

In [24]:
d['성별4'] = d['성별'].apply(male_or_female)
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별2  성별3  성별4
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260    0  0.0    0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947    0  0.0    0
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745    0  0.0    0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501    0  0.0    0
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928    1  1.0    1
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335    0  0.0    0
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792    0  0.0    0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615    1  1.0    1
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308    0  0.0    0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489    0  0.0    0
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661    1  1.0    1
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027    0  0.0    0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654    0  0.0    0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137    0  0.0    0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442    0  0.0    0

## 11.3. Map 사용하기

In [26]:
my_map = {
    '남자': 0,
    '여자': 1
}
d['성별'].map(my_map)

0     0
1     0
2     0
3     0
4     1
5     0
6     0
7     1
8     0
9     0
10    1
11    0
12    0
13    0
14    0
Name: 성별, dtype: int64

In [31]:
def small(score):
    return score / 10000
d['간단지수'] = d['브랜드평판지수'].apply(small)
d

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,성별2,성별3,성별4,간단지수
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,0,0.0,0,1052.3260
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947,0,0.0,0,991.6947
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,0,0.0,0,827.3745
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,0,0.0,0,807.3501
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,1,1.0,1,765.0928
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,0,0.0,0,520.8335
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,0,0.0,0,498.9792
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,1,1.0,1,466.8615
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,0,0.0,0,457.0308
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,0,0.0,0,403.6489
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,1,1.0,1,391.8661
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,0,0.0,0,350.6027
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,0,0.0,0,330.1654
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,0,0.0,0,327.4137
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,0,0.0,0,292.5442

In [36]:
bloodtype_map = {
    'A': 0,
    'B': 1,
    'AB': 2,
    'O': 3
}
d['혈액형2'] = d['혈액형'].map(bloodtype_map)

In [38]:
d['혈액형'].value_counts()

A     7
O     4
B     2
AB    2
Name: 혈액형, dtype: int64